<launch>

  <!-- Argument for another world to spawn -->
  <arg name="world_name" default="$(find jetbot_gazebo)/worlds/empty.world"/>
  <!-- Arguments for intel realsense -->
  <arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" />
  <!-- Arguments for RPLidar -->
  <arg name="lidar_enable" default="true" />
  <arg name="visualize_laser" default="true" /> 
  <!-- Arguments for IMU -->
  <arg name="imu_enable" default="true" />
  <!-- Arguments for GPS -->
  <arg name="gps_enable" default="true" />
  <!-- Arguments for sonars -->
  <arg name="ultrasonic_enable" default="true" />

  <!-- Spawn the jetbot in the empty world -->
  <include file="$(find jetbot_gazebo)/launch/spawn_jetbot.launch">
    <arg name="pointcloud_enable" value="$(arg pointcloud_enable)" />
    <arg name="realsense_enable" value="$(arg realsense_enable)" />
    <arg name="lidar_enable" value="$(arg lidar_enable)"/>
    <arg name="visualize_laser" value="$(arg visualize_laser)"/>
    <arg name="imu_enable" value="$(arg imu_enable)"/>
    <arg name="ultrasonic_enable" value="$(arg ultrasonic_enable)"/>
    <arg name="world_name" value="$(arg world_name)" />
  </include>

</launch>